# Outputs
*.so
*.o
*.a
*.la
*.lo
*.pc
.libs
base64c-*.tar.gz
base64c-*.tar.xz
base64c-*.zip

# Autotools
/.m4
/.aux

# Test outputs
/tests/unittests
test-suite*.log
/tests/*.log
/tests/*.trs
# Code coverage
*.gcno
/base64c-*-coverage*

# http://www.gnu.org/software/automake
Makefile
Makefile.in
.deps
.dirstamp
# http://www.gnu.org/software/autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/config.log
/config.status
/configure
/configure.scan
/aminclude_static.am
# https://www.gnu.org/software/libtool/
/ltmain.sh
/libtool
# http://www.gnu.org/software/texinfo
/texinfo.tex
